<div class="hero-container">
  <!-- Formulario -->
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{ heroData ? 'Editar Héroe' : 'Registrar Nuevo Héroe' }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formRoot]="heroForm" >
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre del Héroe</mat-label>
            <input matInput [formField]="heroForm.name" appUppercase placeholder="Ej: Superman">
          </mat-form-field>
          @if (heroForm.name().invalid() && heroForm.name().touched()) {
                @for (error of heroForm.name().errors(); track error) {
                <mat-error>{{ error.message }}</mat-error>
                }
            }
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Poder</mat-label>
            <input matInput [formField]="heroForm.power" placeholder="Ej: Superfuerza">
            @if (heroForm.power().invalid() && heroForm.power().touched()) {
                @for (error of heroForm.power().errors(); track error) {
                <mat-error>{{ error.message }}</mat-error>
                }
            }
          </mat-form-field>
          
        </div>

        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput [formField]="heroForm.description" placeholder="Ej: Vuela y tiene visión de rayos X" rows="3"></textarea>
          </mat-form-field>
        </div>

        <div class="form-actions">
            <button mat-raised-button (click)="cancelEdit()" type="button">
                Cancelar
            </button>
            <button [disabled]="heroForm().submitting()" mat-raised-button color="primary" type="submit">
                {{ heroData ? 'Actualizar' : 'Registrar' }}
            </button>        
        </div>
      </form>
    </mat-card-content>
  </mat-card>


  
</div>
