
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
/* estilos para material */

.mat-toolbar {
  @media (max-width: 480px) {
    height: 70px !important;
  }
}
.search-field {
  width: 300px;
  margin-left: 16px;
  height: 40px;
   .mat-mdc-text-field-wrapper  {
    height: 100% !important;
   }
   .mat-mdc-form-field-flex {
    height: 100% !important;
   }
   .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 20px !important;
   }
   .mat-mdc-form-field-infix {
    padding-top: 8px !important;
   }
   @media (max-width: 480px) {
    width: 100px;
    margin-left: 0;
  }
}




