@if (windowWidth() <= 768) {
  <h2>Mis Héroes</h2>
}

<app-toolbar (viewModeChange)="viewMode.set($event)" (search)="searchHeroes($event)" (addHero)="addEditHero()"></app-toolbar>

<!-- Tabla de Héroes -->

<mat-card class="heroes-card">
  <mat-card-content>
    <!-- Vista Tabla -->
    @if (viewMode() === 'table') {
      <div class="table-container">
        <app-table [heroes]="heroes()" (editHero)="addEditHero($event)" (deleteHero)="deleteHero($event)"></app-table>
      </div>
    }

    <!-- Vista Tarjetas -->
    @if (viewMode() === 'card') {
      <div class="cards-container">
        @for (hero of heroes(); track hero.id) {
          <app-card-hero [hero]="hero" (edit)="addEditHero($event)" (delete)="deleteHero($event)"></app-card-hero>
        }
      </div>
    }

    @if (heroes().length === 0) {
      <div class="no-data">
        <p>No hay héroes registrados</p>
      </div>
    }
  </mat-card-content>
  <app-loader [isLoading]="isLoading()"></app-loader>
</mat-card>